<% include head %>
	<a href="" id="arrow_left"><img src="http://www.aaronvanderzwan.com/maximage/lib/images/demo/arrow_left.png" alt="Slide Left" /></a>
	<a href="" id="arrow_right"><img src="http://www.aaronvanderzwan.com/maximage/lib/images/demo/arrow_right.png" alt="Slide Right" /></a>

	<img id="cycle-loader" src="http://www.aaronvanderzwan.com/maximage/lib/images/ajax-loader.gif" />
	<div id="maximage">
		<div>
			<img src="images/slide1.jpg" alt="" />
			<img id="gradient" src="http://www.aaronvanderzwan.com/maximage/lib/images/demo/gradient.png" alt="" />
			<div class="in-slide-content" style="display:none;">
				<p>Remember, you are not limited to image elements.  You can display other HTML too.</p>
				<p><a href="http://blog.aaronvanderzwan.com/2011/11/maximage-2-0-beta1-release/" target="_blank" style="font-weight:bold">More info >></a></p>
			</div>
		</div>

		<img src="images/slide2.jpg" alt="Coalesse" data-href="http://www.google.com/" />
		<img src="images/slide3.jpg" alt="Coalesse" data-href="http://www.google.com/" />
		<img src="images/slide4.jpg" alt="Coalesse" data-href="http://www.google.com/" />
	</div>

	<script src="http://code.jquery.com/jquery-2.0.3.js"></script>
	<script>window.jQuery || document.write('<script src="components/jquery.min.js"><\/script>')</script>

	<script src="components/jquery-cycle/jquery.cycle.all.js"></script>
	<script src="components/jquery-easing/jquery.easing.min.js"></script>
	<script src="components/MaxImage/lib/js/jquery.maximage.min.js"></script>

	<script type="text/javascript" charset="utf-8">
	$(function(){
		$('#maximage').maximage({
			cycleOptions: {
				fx: 'fade',
				speed: 1000, // Has to match the speed for CSS transitions in jQuery.maximage.css (lines 30 - 33)
				timeout: 0,
				prev: '#arrow_left',
				next: '#arrow_right',
				pause: 1,
			},
			onFirstImageLoaded: function(){
				jQuery('#cycle-loader').hide();
				jQuery('#maximage').fadeIn('fast');
			}
		});

		// Helper function to Fill and Center the HTML5 Video
		jQuery('video,object').maximage('maxcover');

		// To show it is dynamic html text
		jQuery('.in-slide-content').delay(1200).fadeIn();
	});
	</script>
<% include foot %>
